* {
            font-family: Arial;
        }
        p { 
             color:blue;

        }
        .p1{
            text-align: cent
        }
        #p2{ 
background-color: aqua;
font-weight: bold;
        }

footer p {
    font-size: 12px;
    color: darkslategrey;
}